
<label>Selectionnez une Question</label><br>
<input list="question" name="question">
<datalist id="question">
    <option value="Nouvelle Question">
    <option value="Question1">
    <option value="Question2">
    <option value="Question3">
    <option value="Question4">
</datalist>


<div>
    <label>Categorie</label><br>
    <h4><input type="text" class="form-control2 form-control" id="categorie" value=""></h4>
    <label>Question</label><br>
    <h4><input type="text" class="form-control2 form-control" id="question" value=""></h4>
    <label>Reponse</label><br>
    <h4><input type="text" class="form-control2 form-control" id="reponse" value=""></h4>
    <br><button type="submit" href="#panel-client" data-toggle="tab" class="btn btn-default">Envoyer</button>
</div>