<div class="media-body">
    <label><i class="fa fa-download" aria-hidden="true"></i> - Logiciel</label>
    <br><h4><input type="file" class="form-control2 form-control" id="software" value=""></h4>
    <br>
    <label><i class="fa fa-file-image-o" aria-hidden="true"></i> - Image</label>
    <br><h4><input type="file" class="form-control2 form-control" id="software" value=""></h4>
    <br>
    <label><i class="fa fa-file-pdf-o" aria-hidden="true"></i> - Documentation</label>
    <br><h4><input type="file" class="form-control2 form-control" id="software" value=""></h4>
    <br><button type="submit" href="#panel-client" data-toggle="tab" class="btn btn-default">Envoyer</button>
</div>