<div class="alert alert-danger alert-dismissable">

    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×
    </button>
    <span class="glyphicon glyphicon-info-sign midIcon alignIcon"></span>
    <strong>Attention! </strong>
    Exemple de message.
</div>