<div class="alert alert-danger alert-dismissable">

    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <i class="fa fa-info-circle fa-3x warningImg" aria-hidden="true"></i>
    <strong>
        <span class="warningText">Attention! </span>
        <span>Exemple de message.</span>
    </strong>
</div>