<h2>
    FAQ
</h2>
<p>
    Bienvenue <b>CLIENT</b>, vous trouverez ici des logiciels ainsi que de la documentation.
</p>
<div class="row">

    <!---->
    <!--Documentation-->
    <!---->

    <div class="col-md-7">
        <h3>
            <span class="glyphicon glyphicon-user midIcon"></span>
            Documentation
        </h3>

        <div class="jumbotron well activite">
            <p>

            </p>
        </div>

    </div>

    <!---->
    <!--Logiciels-->
    <!---->

    <div class="col-md-5">
        <h3>
            <span class="glyphicon glyphicon-briefcase midIcon"></span>
            Logiciels
        </h3>

        <div class="jumbotron well activite">
            <p>

            </p>
        </div>

    </div>

    <div class="col-md-12">
        <h3>
            <span class="glyphicon glyphicon-briefcase midIcon"></span>
            Médias
        </h3>

        <div class="jumbotron well activite">
            <p>

            </p>
        </div>

    </div>

</div>