<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'GT4EInterfaceBundle:Default:head.html.twig' %}

</head>
<body>

<div class="container-fluid">
    <div class="row">

        {% include 'GT4EInterfaceBundle:Default:menu.html.twig' %}

        <div class="col-md-9 centralContainer">

            {% include 'GT4EInterfaceBundle:Default:alert.html.twig' %}

            {% include 'GT4EInterfaceBundle:Default:dashboard.html.twig' %}

        </div>
    </div>
</div>

{% include 'GT4EInterfaceBundle:Default:scripts.html.twig' %}

</body>
</html>