<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'GT4EInterfaceBundle:Default:head.html.twig' %}

</head>
<body>

<div class="container-fluid">
    <div class="row">

        {% include 'GT4EInterfaceBundle:Default:menu.html.twig' %}

        <div class="col-md-9 centralContainer">

            {% include 'GT4EInterfaceBundle:Default:alert.html.twig' %}

                <div id="dashboard" class="tabcontent">
                    {% include 'GT4EInterfaceBundle:Default:dashboard.html.twig' %}
                </div>

                <div id="ressources" class="tabcontent">
                    {% include 'GT4EInterfaceBundle:Default:ressources.html.twig' %}
                </div>

                <div id="support" class="tabcontent">
                    {% include 'GT4EInterfaceBundle:Default:support.html.twig' %}
                </div>

                <div id="faq" class="tabcontent">
                    {% include 'GT4EInterfaceBundle:Default:faq.html.twig' %}
                </div>

        </div>
    </div>
</div>

{% include 'GT4EInterfaceBundle:Default:scripts.html.twig' %}

</body>
</html>