<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'GT4EInterfaceBundle:Default:head.html.twig' %}
    {% include 'GT4EInterfaceBundle:Default:scripts.html.twig' %}

</head>
<body>
    <div class="col-md-12">

        {% include 'GT4EInterfaceBundle:Default:loginField.html.twig' %}

    </div>
</div>

</body>
</html>