<div class="col-md-2 menu">
    <br>
    <div onclick="location.href = '/';" class="iconTabsSelected"><img alt="Tableau de bord" src="bundles/gt4einterface/ico/dashboard.png" class="menuImgs"><p>TABLEAU DE BORD</p></div>
    <div onclick="location.href = '/ressources';" class="iconTabs"><img alt="Ressources" src="bundles/gt4einterface/ico/paperclip.png" class="menuImgs"><p>RESSOURCES</p></div>
    <div class="iconTabs"><img alt="Support" src="bundles/gt4einterface/ico/safety.png" class="menuImgs"><p>SUPPORT</p></div>
    <div class="iconTabs"><img alt="FAQ" src="bundles/gt4einterface/ico/book.png" class="menuImgs"><p>FAQ</p></div>
    <div class="iconTabs"></div>
    <div class="iconTabs"><img alt="Déconnexion" src="bundles/gt4einterface/ico/signout.png" class="menuImgs"><p>DECONNEXION</p></div>
</div>