<h2>
    Support
</h2>
<p>
    Bienvenue <b>CLIENT</b>, Un problème avec votre équipement ? C’est ici !
</p>
<div class="row">


    <div class="col-md-3">
        <div class="jumbotron well activite gray">
            <div class="icoSupport fullWidth">
                <p class="pSupport"><i class="fa fa-phone" aria-hidden="true"></i><span> 04.42.50.20.20</span></p>
                <p class="pSupport"><i class="fa fa-envelope" aria-hidden="true"></i><span> support@exemple.com</span></p>
                <p class="pSupport"><i class="fa fa-clock-o" aria-hidden="true"></i><span> Du lundi au vendredi<br>9h-12h / 14h-18h</span></p>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="jumbotron well activite icoSupportJumbo">
            <h2 class="icoSupport"><i class="fa fa-user-md fa-3x" aria-hidden="true"></i><br>NOUVEAU SAV</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="jumbotron well activite icoSupportJumbo">
            <h2 class="icoSupport"><i class="fa fa-hourglass-start fa-3x" aria-hidden="true"></i><br>SUIVRE UN SAV</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="jumbotron well activite icoSupportJumbo">
            <h2 class="icoSupport"><i class="fa fa-sort-alpha-asc fa-3x" aria-hidden="true"></i><br>HISTORIQUE DES SAV</h2>
        </div>
    </div>

    <div class="col-md-12">
        <div class="jumbotron well activite">
            <p>

            </p>
        </div>
    </div>

</div>