<h2>
    Support
</h2>
<p>
    Bienvenue <b>CLIENT</b>, Un problème avec votre équipement ? C’est ici !
</p>
<div class="row">


    <div class="col-md-3">
        <div class="jumbotron well activite">
            <p>

            </p>
        </div>
    </div>


    <div class="col-md-3">
        <div class="jumbotron well activite">
            <p>

            </p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="jumbotron well activite">
            <p>

            </p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="jumbotron well activite">
            <p>

            </p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="jumbotron well activite">
            <p>

            </p>
        </div>
    </div>

</div>