body{
    background-color: #f2f2f2;
    font-family: Ubuntu;
}

h1, h2, h3{
    font-weight: bolder;
}

.menuImgs{
    max-width: 50%;
    max-height: 60%;
    margin-bottom: 1vh;
}

.menu{
    background: #34495e;
    text-align: center;
    color: white;
    font-weight: bolder;
    height: 100vh;
    position: fixed;
    font-size: 1.5vh;
}

.centralContainer{
    margin-left: 21%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iconTabs, .iconTabsSelected{
    height: 16.5vh;
}

.iconTabs{
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
    transition: 0.1s;
}

.iconTabs:hover{
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
    transition: 0.5s;
}

.iconTabsSelected{
    -webkit-filter: drop-shadow(0px 6px 6px #000000);
    filter: drop-shadow(0px 6px 6px #000000);
}

.alignIcon{
    font-size: large;
    vertical-align: sub;
}

.midIcon{
    margin-right: 10px;
    margin-left: 10px;
}

.jumbotron {
     padding: 10px !important;
}

.well{
    background-color: white !important;
}

.imgList{
    width: 46px;
}

.imgPerso{
    width: 150px;
}

.miniText{
    font-size: smaller !important;
    margin: 0 !important;
    display: inline-block;
    margin-right: 20px !important;
}

.media{
    margin-bottom: 10px;
}

.equipement{
    height: 55vh;
    overflow: auto;
}

.flex{
    display: inline-flex;
    width: 85%;
}

.form-control{
    font-size: inherit;
    height: 100%;
    padding: 0px 12px;
}

.topRightCorner{
    float: right;
}

.activite{
    height: 20vh;
}